body {
  margin: 0;
  padding: 50px;
  background-color: #66CCFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
}

h1 {
  text-align: center;
}

.todo-container {
    text-align: center;
}
.todo-form {
  width: 50%;
  margin: 0 auto 15px;
  text-align: center;
}
.todo-form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}
.todo-form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.todo-form button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todo-list .list {
  list-style: none;
  padding-left: 0;
  width: 50%;
  margin: auto;
  text-align: center;
}
 
.todo-list .list li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
}

.menu-button {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
.menu-button:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
.menu-button:active {
  border-color: #003557;
  background-color: #FFF;
}

.flyout-menu {
  width: 100vw;
  height: 100vh;
  background-color: #003557;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
.flyout-menu h2 a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}
.flyout-menu h2 a:hover {
  text-decoration: underline;
  color: #fff;
}
.flyout-menu.visible {
  transform: translate3d(0vw, 0, 0);
}  

.counter {
  text-align: center;
}

.product-list {
  width: 50%;
  margin: 30px auto 0;
  text-align: center;
}
.product-list li {
  text-align: left;
}

.favourite-colors {
  width: 40%;
  margin: 30px auto 0;
  text-align: center;
}

.favourite-colors ul {
  text-align: left;
}

.users-list {
  width: 40%;
  margin: 30px auto 0;
  text-align: center;
}